[submodule "ImproveYourAIBotReact"]
	path = ImproveYourAIBotReact
	url = https://github.com/ImproveYourMix/ImproveYourAIBotReact
[submodule "QtVideoTranscriber"]
	path = QtVideoTranscriber
	url = https://github.com/ImproveYourMix/QtVideoTranscriber
